
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
font-family: "Arial", "Tahoma", "Helvetica", "sans-serif";
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
p {
	margin: 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
	}
	/*..............  Header  ...............
	..........................................*/
.header_bg {
	height: 888px;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
}
.container {
width: 960px;
position: relative;
/* выравнрние по центеру*/
margin-left: auto;
margin-right: auto;

}
.logo {
position: absolute;
top: 30px;
}
.navigation {
padding-top: 169px;
margin-bottom: 67px;
}
.navigation ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
}
.navigation ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
margin-right: 145px;
}
.navigation ul li:last-child {
margin-right: 0;
}

.navigation ul li a {
	color: #FFF;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	}
.navigation ul li a:hover {
text-decoration: underline;
}

.header-heading {
width: 420px;
}
.header-heading h1 {
font-size: 52px;
line-height: 1.192;
color: #FFF;
text-shadow: 0px 1px 1px rgba(46, 107, 130, 0.4);
font-weight: normal;
margin: 20px 0;
}
.header-heading p {
  font-size: 14px;
  line-height: 1.786;
  text-shadow: 0px 1px 1px rgba(53, 125, 152, 0.4);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFF;
  font-weight: normal;
  width: 380px;
}

	/*..............  Main part  ...............
	..........................................*/
.column-left {
float: left;
width: 310px;
border-right: 1px solid  #eaeaea;
padding-right: 40px;
padding-bottom: 135px;
}

.column-right {
float: right;
width: 590px;
}
.body__padding {
	padding-top: 110px;
	padding-bottom: 85px;
}
.column-left p {
  font-size: 20px;
  color: rgb(254, 153, 42);
  font-style: italic;
  line-height: 1.4;
  }
.column-right h2 {
	font-size: 24px;
  color: rgb(254, 153, 42);
  line-height: 1;
  font-weight: normal;
  margin-bottom: 20px;
 }
.column-right p {
  font-size: 14px;
  color: rgb(115, 124, 133);
  line-height: 2;
}
.column-right p a {
  color: rgb(115, 124, 133);
  text-decoration: underline;
}
.column-right p a:hover {
  color: rgb(115, 124, 133);
  text-decoration: underline;
color: #037EC6;
}
	/*..............  FOOTER ...............
	..........................................*/
.footer_bg {
padding-top: 50px; 
padding-bottom: 180px;
background-color: #E87976;
background-image: url(../images/bg_footer.jpg);
background-repeat: repeat;
color: #FFF;
font-size: 14px;
line-height: 1.286;
}
.footer_bg a {
	color: #FFF;
	text-decoration: none;
	list-style-type: none;
	}
.footer_bg a:hover {
	color: #FFF;
	text-decoration: underline;
	}
	.footer_bg h4 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 1;
	}
.column-contacts {
float: left;
width: 230px;
 margin-right: 80px;
}
.column-contacts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
   margin-bottom: 20px;
}
.column-contacts ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.column-menu {
float: left;
width: 110px;
margin-right: 24px;
text-decoration: none;
}
.column-menu  ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.column-menu ul li {
margin: 0;
padding: 0;
line-height: 1;
margin-bottom: 10px;
}
.column-menu:last-child {
margin-right: 0;
}
